* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  color: #2A5C96;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem ;
  margin-bottom: 1rem ;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.input-text {
  padding: 17px 10px;
  border: 1px solid #eaeaea;
  width: 80%;
  font-size: 1rem;
  border-radius: 0.35rem 0 0 0.35rem;
}

.input-submit {
  width: 20%;
  border: none;
  cursor: pointer;
  border-radius:  0 0.35rem 0.35rem 0;
}

.todo-list {
  border: 1px solid #eaeaea;
  border-radius: 0.35rem;
}

.todo-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A5C96;
  color: white;
  padding: 17px 10px;
  border-radius: 0.35rem 0.35rem 0 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  padding: 17px 10px;
  border-bottom: 1px solid #eaeaea;
}

.todo-list-notTodo {
  text-align: center;
  padding: 17px 10px;
}

.todo-item-content {
  width: 80%;
  text-align: justify;
  font-weight: 500;
  cursor: pointer;
}

.todo-item-removeIcon {
  width: 20%;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 75%;
  }
}